@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

html {
    scrollbar-gutter: stable;
}

body {
    margin-right: 0px !important;
    --removed-body-scroll-bar-size: 0px !important;
}

/* Show empty lines in code blocks (plain text type) */
code > .line > span:empty {
    display: inline-block;
}
